.koltukSec {
    .selected{
        color: $primary;
        scale: 1.1;
    }
    i {
        font-size: 75px;
    }
    .icon-set{
        transition: all 0.2s ease-in-out;
       
        &:hover {
            color: $danger;
            scale: 1.1;
        }
       
    }
.numbers{
    
    .number-of-chair {
        font-size: 0.7rem;
        position: relative;
        top: 13px;
        left: -10px;
       
    }
    
}
}

// @include media-breakpoint-down(md){
//     .koltukSec{
//         img{
//             min-width: 50px;
//         }
//     }
// }